body {
  background-color: lightblue;
  text-align: center;
}

h1 {
  color: white;
  border-style: inset;
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
}

h3 {
  color: brown;
  text-align: center;
  font-family: verdana;
  font-size: 25px;
}

ul {
  color: black;
  font-family: cursive;
  font-size: 15px;
  text-align: center;
  list-style: inside;
  margin:0px;
  padding:0px
}

ol {
  color: black;
  font-family: cursive;
  font-size: 15px;
  text-align: center;
  list-style: inside;
  margin:0px;
  padding:0px
}

table {
  color: black;
  border-style: solid;
  text-align: center;
  font-family: cursive;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
}

td {
  border-style: solid;
}

th {
  border-style: solid;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  display: block;
  margin-left: auto;
  margin-right: auto;
}