.flex-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.flex-item {
    width: 100%;
}

/* Medium and up */
@media screen and (min-width: 40em) {

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flex-item {
        width: 50%;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {

    .flex-item {
        width: 25%;
    }
}